:root {
    --black: #2c2c2c;
    --white: #d4d4d4;
    --purple: #5f2b94;
    --red: #ff3d3d;
    --gray: #4a4a4a;
    --light-gray: #a2a2a2;
}

body {
    font-family: monospace;
    background: var(--black);
    color: var(--white);
    font-size: 16px;
    margin: 2em;
}

button {
    border: 0;
    padding: 1em;
    font-size: 1.001em;
    border-radius: 3px;
    cursor: pointer;
}

input {
    padding: .5em;
    font-size: 1.001em;
    color: var(--black);
}

a {
    color: var(--white)
}

img {
    max-width: 100%;
}

code {
    background: var(--white);
    color: var(--black);
    padding: .2em;
}

.hidden {
    display: none;
}

.error {
    background-color: var(--red);
    padding: 1em;
    margin: 1em;
    border-radius: 3px;
    text-align: center;
}

.danger {
    color: var(--red);
    background: var(--white);
    padding: 1em;
    border-left: 3em solid var(--red);
    position: relative;
}

.danger:before {
    content: '😅';
    position: absolute;
    left: -1.15em;
    color: var(--white);
    font-size: 2.5em;
    top: 0.1em;
}

.text--uppercase {
    text-transform: uppercase;
}
